#pdf-content{
}

#grandlogo{
    border-radius: 50px;
}

.shelftag{
    width: 210px;
    height: 297px;
    display: flex;
}

.vertical-text {   
    writing-mode: vertical-rl;
    margin-top:235px;
}
.block{
    height:297px;
    width:34.8px;  
}



#pdf-image{
    display:flex;
    width: 210px;
    border:1px solid red;
}